* {
    font-family: "Google Sans Code", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

window#waybar {
    background-color: #272e33; /* Everforest Bg Hard */
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #2d353b; /* Everforest Bg Medium */
}

window#waybar.chromium {
    background-color: #1e2326; /* Everforest Bg0 */
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #d3c6aa; /* Everforest Fg */
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #dbbc7f; /* Everforest Yellow */
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #d3c6aa; /* Everforest Fg */
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #3d484d; /* Everforest Bg Visual */
    box-shadow: inset 0 -3px #a7c080; /* Everforest Green */
}

#workspaces button.urgent {
    background-color: #e67e80; /* Everforest Red */
}

#mode {
    background-color: rgba(39, 46, 51, 1);
    box-shadow: inset 0 -3px #d3c6aa;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #d3c6aa; /* Everforest Fg */
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #d3c6aa;
        color: #272e33;
    }
}

#battery.charging, #battery.plugged {
    background-color: #a7c080; /* Everforest Green */
    color: #272e33;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #e67e80; /* Everforest Red */
    color: #d3c6aa;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #e67e80;
    color: #d3c6aa;
}

#power-profiles-daemon.balanced {
    color: #a7c080;
}

#power-profiles-daemon.power-saver {
    background-color: #83c092; /* Everforest Aqua */
    color: #272e33;
}

label:focus {
    background-color: #1e2326;
}

#network.disconnected {
    color: #e67e80;
}

#pulseaudio.muted {
    color: #e67e80;
}

#wireplumber {
    background-color: #d3c6aa;
    color: #272e33;
}

#wireplumber.muted {
    background-color: #e67e80;
}

#custom-media {
    background-color: #a7c080;
    color: #272e33;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #a7c080;
}

#custom-media.custom-vlc {
    background-color: #e69875; /* Everforest Orange */
}

#temperature {
    background-color: #e69875;
}

#temperature.critical {
    background-color: #e67e80;
}

#tray {
    background-color: #7fbbb3; /* Everforest Blue */
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #e67e80;
}

#idle_inhibitor.activated {
    background-color: #d3c6aa;
    color: #272e33;
}

#mpd {
    background-color: #a7c080;
    color: #272e33;
}

#mpd.disconnected {
    background-color: #e67e80;
}

#mpd.stopped {
    background-color: #859289; /* Everforest Gray */
}

#mpd.paused {
    background-color: #83c092;
}

#language {
    background: #7fbbb3;
    color: #272e33;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #a7c080;
    color: #272e33;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: #d3c6aa;
}

#privacy-item.screenshare {
    background-color: #e69875;
}

#privacy-item.audio-in {
    background-color: #a7c080;
}

#privacy-item.audio-out {
    background-color: #7fbbb3;
}
